<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perifericos</title>
    <!-- CDN bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
      <!-- estilos css -->
      <link rel="stylesheet" href="../STATIC/CSS/productos.css">
</head>
<body>
<!-- marquee gametech -->
    <marquee behavior="continue" direction="right">PERIFÉRICOS</marquee>
<!-- header -->
    <div class="container">
        <div class="row">
            <div class="header d-inline-flex justify-content-center align-items-center">
                <img src="../STATIC/IMG/Gameth Solution.png" alt="gametech Solution" height="150px" width="150px">
                <h1>Tienda Online Gametech Solution</h1>
            </div>
        </div>
<!-- navbar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="../Index.html">INICIO</a>
        <a class="nav-link text-white" href="./portatile.html">PORTATILES</a>
        <a class="nav-link text-white" href="./Componentes.html">COMPONENTES</a>
        <a class="nav-link text-white" href="./Monitores.html">MONITORES</a>
        <a class="nav-link text-white" href="./perifericos.html">PERIFÉRICOS</a>
        <a class="nav-link text-white" href="./torres.html">TORRES</a>
        <a class="nav-link text-white" href="./carrito.html">
          <i class="bi bi-cart3"></i> CARRITO <span id="numerito" class="numerito">0</span>
        </a>
      </div>
    </div>
  </div>
</nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    <!-- mouse -->
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/mouse g305.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse inalámbrico Logitech G305 LIGHTSPEED</h5>
        <p class="card-text"><b>$ 189.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-1" data-titulo="Mouse inalámbrico Logitech G305 LIGHTSPEED" data-precio="189990" data-imagen="../STATIC/IMG/perifericos/mouse g305.jpg">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/MOUSE-LOGITECHM350S-.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse M350 S | Logitech</h5>
        <p class="card-text"><b>$ 124.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-2" data-titulo="Mouse M350 S | Logitech" data-precio="124990" data-imagen="../STATIC/IMG/perifericos/MOUSE-LOGITECHM350S-.jpg">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/mouse m607.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mouse Gamer Griffin M607 Redragon</h5>
        <p class="card-text"><b>$ 114.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-3" data-titulo="Mouse Gamer Griffin M607 Redragon" data-precio="114990" data-imagen="../STATIC/IMG/perifericos/mouse m607.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <!-- teclados -->
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/teclado k630.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado K630 DragonBorn RGB Redragon</h5>
        <p class="card-text"><b>$ 229.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-4" data-titulo="Teclado K630 DragonBorn RGB Redragon" data-precio="229990" data-imagen="../STATIC/IMG/perifericos/teclado k630.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/Teclado-Logitech-G513-1-600x600.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado G513 RGB | Logitech</h5>
        <p class="card-text"><b>$ 649.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-5" data-titulo="Teclado G513 RGB | Logitech" data-precio="649990" data-imagen="../STATIC/IMG/perifericos/Teclado-Logitech-G513-1-600x600.webp">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/X60BLANCO-PROMOCION-768x768.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teclado Gamer Logitech Pro X 60 Inalámbrico Lightspeed</h5>
        <p class="card-text"><b>$ 1.019.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-6" data-titulo="Teclado Gamer Logitech Pro X 60" data-precio="1019990" data-imagen="../STATIC/IMG/perifericos/X60BLANCO-PROMOCION-768x768.webp">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <!-- diademas -->
    <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/diadema.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diadema Gamer VSG Gemini</h5>
        <p class="card-text"><b>$ 139.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-7" data-titulo="Diadema Gamer VSG Gemini" data-precio="139990" data-imagen="../STATIC/IMG/perifericos/diadema.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/G733-PROMO-768x768.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diadema Gamer Inalambrica logitech G733 RGB</h5>
        <p class="card-text"><b>$ 699.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-8" data-titulo="Diadema Gamer Inalambrica logitech G733 RGB" data-precio="699990" data-imagen="../STATIC/IMG/perifericos/G733-PROMO-768x768.webp">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/perifericos/Diadema-Logitech-Negra-G-Pro-Inalambrica-1-600x600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diadema PRO X Wireless | Logitech</h5>
        <p class="card-text"><b>$ 940.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="peri-9" data-titulo="Diadema PRO X Wireless | Logitech" data-precio="940990" data-imagen="../STATIC/IMG/perifericos/Diadema-Logitech-Negra-G-Pro-Inalambrica-1-600x600.jpg">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CDN bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- main.js -->
    <script src="../STATIC/JS/main.js"></script>
</body>
</html>