<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torres</title>
    <!-- CDN bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <!-- estilos css -->
    <link rel="stylesheet" href="../STATIC/CSS/productos.css">
</head>
<body>
<!-- marquee gametech -->
    <marquee behavior="continue" direction="right">TORRES Y MAS</marquee>
<!-- header -->
    <div class="container">
        <div class="row">
            <div class="header d-inline-flex justify-content-center align-items-center">
                <img src="../STATIC/IMG/Gameth Solution.png" alt="gametech Solution" height="150px" width="150px">
                <h1>Tienda Online Gametech Solution</h1>
            </div>
        </div>
<!-- navbar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white" aria-current="page" href="../Index.html">INICIO</a>
        <a class="nav-link text-white" href="./portatile.html">PORTATILES</a>
        <a class="nav-link text-white" href="./Componentes.html">COMPONENTES</a>
        <a class="nav-link text-white" href="./Monitores.html">MONITORES</a>
        <a class="nav-link text-white" href="./perifericos.html">PERIFÉRICOS</a>
        <a class="nav-link text-white" href="./torres.html">TORRES</a>
        <a class="nav-link text-white" href="./carrito.html">
          <i class="bi bi-cart3"></i> CARRITO <span id="numerito" class="numerito">0</span>
        </a>
      </div>
    </div>
  </div>
</nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/Torres/Torre Bronce.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torre Bronce</h5>
        <p class="card-text"><b>$ 1.974.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="torre-1" data-titulo="Torre Bronce" data-precio="1974990" data-imagen="../STATIC/IMG/Torres/Torre Bronce.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/Torres/WEVO-CON-JAMON.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torre Plata</h5>
        <p class="card-text"><b>$ 2.699.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="torre-2" data-titulo="Torre Plata" data-precio="2699990" data-imagen="../STATIC/IMG/Torres/WEVO-CON-JAMON.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/Torres/TIBIO-22JUL-600x600.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torre Tibio</h5>
        <p class="card-text"><b>$ 3.299.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="torre-3" data-titulo="Torre Tibio" data-precio="3299990" data-imagen="../STATIC/IMG/Torres/TIBIO-22JUL-600x600.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/Torres/EXTRA-22JUL-600x600.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torre Plata Primion</h5>
        <p class="card-text"><b>$ 4.699.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="torre-4" data-titulo="Torre Plata Primion" data-precio="4699990" data-imagen="../STATIC/IMG/Torres/EXTRA-22JUL-600x600.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/Torres/CLARA-DE-WEVO-21-JUL-600x600.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torre Oro Blanco</h5>
        <p class="card-text"><b>$ 5.399.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="torre-5" data-titulo="Torre Oro Blanco" data-precio="5399990" data-imagen="../STATIC/IMG/Torres/CLARA-DE-WEVO-21-JUL-600x600.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../STATIC/IMG/Torres/torre Diamante.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torre Diamante</h5>
        <p class="card-text"><b>$ 10.399.990</b></p>
        <button class="btn btn-success producto-agregar" data-id="torre-6" data-titulo="Torre Diamante" data-precio="10399990" data-imagen="../STATIC/IMG/Torres/torre Diamante.png">
          <i class="bi bi-cart-plus"></i> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </div>

    <!-- CDN bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- main.js -->
    <script src="../STATIC/JS/main.js"></script>
</body>
</html>